:root {
	--text-color-green:#9AB59D;
	--text-color-hover:#FFDA8E;
	--text-color:#333128;
}

* {
  	box-sizing: border-box;
  	-webkit-appearance: none;
}

body {
  	margin:0;
  	font-family: 'Raleway', sans-serif;
}

.container {
  	max-width: 1100px;
  	margin-left: auto;
  	margin-right: auto;
}

.flex-parent { display:flex; }
.flex-child { flex:1 1 auto; }
.flex-none { flex:none; }
.flex-wrap { flex-wrap:wrap; }
.flex-vertical { flex-direction:column; }
.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.hidden { display:none; }
.noclick { pointer-events:none; }


/* Navigation*/
.nav ul {
  	list-style-type:none;
}
.nav a {
  	display:block;
  	text-decoration:none;
  	color:inherit;
  	padding:1.2em 2em;
  	font-weight: 500;
}


.nav-links {
  	font-size: 14px;
  	color: var(--text-color-green);
  	font-weight: 400;
  	letter-spacing: .3em;
}

.nav-links li{
  	transition: .2s;
}
.nav-links li:hover {
  	color:var(--text-color-hover);
  	font-weight: 700;
}

a.main-title{
	display: block;
	text-decoration: none;
}

a.main-title div{
	color: var(--text-color-green);
	font-weight: 600;
	letter-spacing: .1em;
	vertical-align:middle;
  	position:relative;
  	padding-top:1.6em;
  	font-size: 1.2em;
  	left: 15px;
}

.icon-logo {
  	vertical-align:middle;
  	position:relative;
  	top:20%;
  	left: 15px;
}

nav span {
  	font-weight: 800;
}

.nav-email-icon {
  	width: 26px;
  	padding-top: -20px;
}

.nav-email-icon:hover {
  	content: url('../imgs/email_hover.svg');
}

@media(max-width: 600px){
	.nav-email-icon {
  		width: 35px;
	}
}


/*Test*/
header {
  background-color:rgba(255,255,255,0.95);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:var(--header-height);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  z-index: 3;
}

@media (min-width: 600px) {
  header {
    height: 80px;
  }
}

@media (max-width: 600px) {
  header {
    height: 65px;
    position:fixed;
  }
}

header>.flex-parent {
  align-items:center;
    margin-right: 10%;
}

.ham{
  display:block;
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  color: var(--text-color-green);
  }

@media (min-width: 600px) {
  .ham {
    display: none;
  }
}

.overlay {
    height:0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.95);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
}

.overlay-content a {
    padding: 15%;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .1em;
    color: var(--text-color-green);
    display: block;
    transition: 0.3s;
}

.overlay-content a:focus {
    background-color: var(--text-color-hover);
}

.closebtn {
  display:block;
  text-decoration: none;
  float: right;
  margin-top: -15px;
  margin-right: 20px;
  color: var(--text-color-green);
  font-size: 70px;
}

@media screen and (max-height: 600px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}





/* Intro */
.top-block {
    width: 100vw;
}

#intro-block{
	background-image: url("../imgs/2.gif");
	background-color: #f0f9f5;
	background-repeat: no-repeat;
	background-attachment: cover;
	background-position: right top;
	height:560px;
	width: 100vw;
}

.intro-title{
	font-size: 1.7em;
  	font-weight: 600;
}

.intro-msg{
	color: var(--text-color-green);
  	margin-top: 20%;
  	position: relative;
  	letter-spacing: .04em;
  	line-height: 2.7em;
}

@media(max-width: 600px){
	#intro-block{
		background-position: center top;
	}
}


/* Projects */
.big-work{
	position: relative;
	width: 100%;
}

.big-work a{
	text-decoration: none;
}

.small-work a{
	text-decoration: none;
}

.project-work {
  	height: 420px;
  	overflow: hidden;
}

.project-1{
 	background-color:#9ed0d8;
  	transition: .3s;
}

.project-2-3{
	background-image: linear-gradient(to right, #F6BFA6 50% , #c3cd95 50%);
	transition: .3s;
}

.project-2{
 	background-color:#F6BFA6;
  	transition: .3s;
}

.project-3{
 	background-color:#c3cd95;
  	transition: .3s;
}

.project-4{
 	background-color:#fed86f;
  	transition: .3s;
}

.project-5-6{
	background-image: linear-gradient(to right, #ADAADE 50% , #9CCDC0 50%);
	transition: .3s;
}

.project-5{
 	background-color:#ADAADE;
  	transition: .3s;
}

.project-6{
 	background-color:#9CCDC0;
  	transition: .3s;
}

.project-7{
 	background-color:#fed86f;
  	transition: .3s;
}

.project-8-9{
	background-image: linear-gradient(to right, #ADAADE 50% , #9CCDC0 50%);
	transition: .3s;
}

.project-8{
 	background-color:#ADAADE;
  	transition: .3s;
}

.project-9{
 	background-color:#9CCDC0;
  	transition: .3s;
}

.big-project{
	color: white;
  	margin-top: 90px;
  	overflow: hidden;
}

.small-project{
	color: white;
  	margin-top: 20px;
  	overflow: hidden;
  	margin-left:calc((2/12)*100%);
  	margin-right:calc((2/12)*100%);
}

@media (max-width: 600px){
	.small-project{
		margin-left: calc((1/12)*100%);
		margin-right: calc((1/12)*100%);
	}
	.big-project{
	  	margin-top: 20px;
	}
	.project-2-3{
		background-image: none;	
	}
}

.project-title{
  	letter-spacing: .2em;
 	font-weight: 600;
  	text-transform: uppercase;
  	font-size: 1.7em;
  	margin: 1em 0;
}

.project-description{
	letter-spacing: .08em;
  	line-height: 1.5em;
  	font-weight: 500;
  	margin: 2em 0;
}

.project-category{
	letter-spacing: .08em;
   	font-weight: 500;
   	margin: 2em 0;
}

.project-big-image img{
	width: 60%;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.project-small-image img{
	width: 30%;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.project-work:hover .project-image {
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: .3s;
}

.media-image {
	max-width:100%;
	max-height:100%;
	vertical-align: middle;
}

.mac-image img{
	width: 115%;
	transform: translateY(10px);
}

.mac-small-image img{
	width: 70%;
	transform: translateY(0px);
}

@media (max-width: 600px){
	.project-title{
		margin: 0.7em 0;
	}
	.project-category{
		margin: 2em 0 1em 0;
	}
	.project-description{
		margin: 1em 0 1em 0;
	}
	.project-big-image img{
    	transform: translateY(-0px);
    	width: 50%;
  	}
  	.project-small-image img{		
	    transform: translateY(-0px);
	    width: 50%;
	}
}

@media (max-width: 600px){
	.mac-image img{
		width: 70%;
		transform: translateY(15px);
	}
	.mac-small-image img{
		width: 70%;
		transform: translateY(15px);
	}
}

/* Footer */
footer {
	height: 10em;
	text-align: center;
	color: #4B4B8F;
	background-color: #F0FAFF;
}

.footer-content{
	padding-top: 3.2em;
}

.footer-content div {
  	line-height: 1.5em;
  	font-weight: 500;
 	letter-spacing: .02em;
}

.footer-text{
	font-size: 1em;
  	font-weight: 400px;
}

@media (max-width: 600px) {
	.footer-content div {
		font-size: 0.8em;
	}
}

.footer-social-media {
  	padding-top: 0.6em;
}

.footer-social-media a {
	display: inline-block;
	margin: 0 1em 1em 1em;
}

.footer-social-media a:hover {
	color: #cdff48;
}
